<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Tod Sleeman <todsleeman@gmail.com>">
    <meta name="description" content="A web presence showing projects and experience for anyone looking to hire the web developer, Tod Sleeman">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#00b396">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#00b396">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#00b396">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Tod Sleeman | Web Developer Site - React, Vue.js and Node.js</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
