<template>   
  <div class="column is-4-desktop container">
    <div v-if="showDescription" @mouseleave="hover()">
      <div class="background fade-in-background"/>
      <div class="description fade-in">
        <div class="logos columns column is-mobile is-centered">
          <img v-if="react" :src="require(`@/assets/react.webp`)" class="logo" alt="react">
          <img v-if="firebase" :src="require(`@/assets/firebase.webp`)" class="logo" alt="firebase">
          <img v-if="vue" :src="require(`@/assets/vue.webp`)" class="logo" alt="vue">
          <img v-if="nodejs" :src="require(`@/assets/nodejs.webp`)" class="logo" alt="nodejs">
          <img v-if="javascript" :src="require(`@/assets/javascript.webp`)" class="logo" alt="javascript">
        </div>
        <article class="columns column is-mobile is-centered notification is-primary">
          <p class="title is-6 has-text-centered"><strong>{{description}}</strong></p>
        </article>
        <div class="columns column is-mobile is-centered">
          <a :href="link" class="link">
            <button class="button is-link" >View Demo</button>
          </a>
        </div>
      </div>
    </div>
    <div @mouseenter="hover()">
      <img :src="require(`@/assets/${image}`)">
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProjectTile',

  props: {
    link: { type: String, default: ''},
    image: { type: String, default: ''},
    description: { type: String, default: ''},
    react: { type: Boolean, default: false},
    firebase: { type: Boolean, default: false},
    vue: { type: Boolean, default: false},
    nodejs: { type: Boolean, default: false},
    javascript: { type: Boolean, default: false},
  },

  data () {
    return {
      showDescription: false
    }
  },

  created () {
    window.addEventListener('scroll', this.handleScroll);
  },

  destroyed () {
    window.removeEventListener('scroll', this.handleScroll);
  },

  methods: {
    hover () {
      this.showDescription = !this.showDescription
    }
  }
}
</script>

<style lang="scss" scoped >
  .container {
    position: relative
  }
  .background {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    opacity: 0.7;
    z-index: 5;
  }
  .description {
    width: 100%;
    height: 100%;
    padding: 10%;
    position: absolute;
    z-index: 6;
  }
  .logos {
    height: 40%;
  }
  .logo {
    max-height:100%;  
  }
  .link {
    padding-top: 3%
  }
  .fade-in {
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.4s;
  }
  .fade-in-background {
    animation-name: fadeInBackgroundOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.3s;
  }

  @keyframes fadeInOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeInBackgroundOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.7;
    }
  }
</style>