<template>
  <section class="site">
    <div class="hero">
      <div class="heading-box columns is-vcentered is-gapless">
        <div class="column is-5-tablet is-3-desktop fade-in">
          <img class="profile" src="./assets/profile.jpg" alt="Profile Picture">
        </div>
        <div class="column is-7-tablet is-9-desktop">
          <div class="name">
            <h1 class="tod title is-1 has-text-white-bis">
              Tod Sleeman
            </h1>
            <h5 class="subtitle is-4 has-text-grey-light">
              Full stack web developer.
            </h5>
            <div>
              <a href="https://gitlab.com/todsleeman">
                <img src="./assets/gitlab-icon.png" class="link"/>
              </a>
              <a href="https://todsleeman.com/todsleeman-cv.pdf" download>
                <i class="link far fa-file-pdf"></i>
              </a>
              <a href="mailto:todsleeman@gmail.com">
                <i class="link far fa-envelope"></i>
              </a>
            </div>
          </div>
          <div class="summary tile is-parent">
            <div class="tile is-child notification is-info">
              <ul class="title is-5">
                <li><span>&#8226;</span> Vue.js, React and Node.js</li>
                <li><span>&#8226;</span> BSc in Mathematics</li>
                <li><span>&#8226;</span> 5 years experience building scalable web applications</li>
              </ul>
              <article class="blurb">
                I am a passionate engineer hooked on solving problems and creating powerful technology solutions alongside other like minded people. My capacity for information combined with my proclivity to be productive means I will always find a situation to be useful. I am inspired to stay up to date with emerging technologies and have an enthusiasm to constantly learn, share and support. The word I value most in life is consistency.
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-2">
            Projects
          </h1>
        </div>
      </div>
    </section>
    <div class="portfolio columns is-desktop is-gapless is-multiline">
      <project-tile 
        :link="`https://cardash.todsleeman.com`"
        :image="`cardash.png`"
        :description="`An exploration into single page apps with React using direct access to the Firebase API to track my cars fuel efficiency, fuel cost and type of driving.`"
        :react="true"
        :firebase="true"
      />
      <project-tile 
        :link="`https://citizenship.todsleeman.com`"
        :image="`citizenship.png`"
        :description="`A small application using an Express.js backend to calculate when I could apply for citizenship by checking an iCal link for how many days I had been out of Canada.`"
        :vue="true"
        :nodejs="true"
      />
      <project-tile 
        :link="`https://camp.todsleeman.com`"
        :image="`camp.png`"
        :description="`A small HTML demo to try vector image manipulation through JavaScript.`"
        :javascript="true"
      />
    </div>
    <div class="tail container is-fluid level">
      <div class="level-left">
        <h6 class="is-6 has-text-grey">© Copyright Tod Sleeman 2020</h6>
      </div>
      <div class="level-right">
        <h6 class="is-6 has-text-grey">Built using <img src="./assets/vuejs-icon.png" class="tail-icon"/> and <img src="./assets/bulma-icon.png" class="tail-icon"/></h6>
      </div>
    </div>
  </section>
</template>

<script>
import ProjectTile from './components/ProjectTile.vue'

export default {
  name: 'App',

  components: {
    ProjectTile
  }
}
</script>

<style lang="scss" scoped>
  body, html {
    margin: 0px
  }

  .site {
    background-color: #090909;
  }

  .heading-box {
    background-color: #090909;

    .name {
      padding-top: 9%;
      padding-left: 7%;
      padding-right: 7%;
      margin-bottom: 20px;
      .tod {
        font-size: 53px;
      }

      .link {
        margin-right: 20px;    
        height: 17px
      }
    }

    .summary {
      padding-left: 7%;
      padding-right: 7%;
      margin-bottom: 7%;

      .blurb {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
      }
    }
  }

  .portfolio {
    background-color: #090909;
  }

  .tail {
    background-color: #090909;
    padding-bottom: 1em;
    .tail-icon {
      height: 20px;
      padding-top: 3px;
    }
  }

  .fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.7s;
  }

  @keyframes fadeInOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
